/*左侧下拉菜单 start*/
#container{
    padding-top: 3.5rem;
}
header{
    font-size: 1.143rem;
    width: 100%;
    padding:0 0.714rem;
    height: 3.5rem;
    line-height: 3.5rem;
    background: #222;
    color: #fff;
}
header.navbar-wrapper{
    position: fixed;
    top: 0;
    z-index: 1000;
}
header nav ul li{
}
header a{
    color: #fff!important;
    padding: 0 1rem;
}
header a:hover{
    background-color: rgba(255,255,255,0.2);
}
/**/

/**/
aside{
    width: 14.214rem;
    background: rgba(238, 238, 238, 0.96);
    border: 1px solid #e5e5e5;
    height: 100%;
}
.admin-aside,.wrapper{
    position: absolute;
    top: 0;
    z-index: 99;
}
.admin-aside{
    left: 0;
    padding-top: 3.5rem;
}
.wrapper{
    flex-grow: 1;
    left: 14.215rem;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 3.5rem 0;
}

aside.menu_dropdown{

}
aside a,.crumb-part a{
    color: #666;
}
.menu_dropdown,.wrapper{
    height: 100%;
}
.menu_dropdown dl dt{
    font-size: 1.143rem;
    padding-left:0.714rem;
    height: 3.5rem;
    line-height: 3.5rem;
    border-bottom: 1px solid #e5e5e5;
}
.menu_dropdown dl dt:hover{
    color: #148cf1;
}
.menu_dropdown dl dt span{
    width:7.5rem ;
}
.menu_dropdown  ul li.current,.menu_dropdown  ul li:hover{
    background: #fafafa;
}
.menu_dropdown  ul li{
    padding-left:3.714rem;
    height: 3rem;
    line-height: 3rem;
}
.menu_dropdown ul li a:hover{
    color: #148cf1;
}

/*左侧下拉菜单 end*/

/*设置小图标 start*/
.icon{
    display: inline-block;
}
.dropDown_A .icon{
    width: 1.8rem;
    height: 3.5rem;
}
.menu_dropdown .icon{
    width: 3rem;
    height: 3.5rem;
}
.crumb-part .icon{
    width: 3rem;
    height: 3rem;
}
.icon.icon-add{
     background: url('../images/icon-add-w.png') center no-repeat;
     background-size: 1.5rem auto;
 }
.icon.dropdown-arrow{
    background: url('../images/icon-dropdown-w.png') center no-repeat;
    background-size: 1.1rem auto;
}
.icon.menu_dropdown-arrow{
    background: url('../images/icon-fold.png') center no-repeat;
    background-size: 1.5rem auto;
}
.selected .icon.menu_dropdown-arrow{
    /*background: url('../images/icon-unfold.png') center no-repeat;*/
    /*background-size: 1.5rem auto;*/
    transform: rotate(180deg);
}
.selected dd{
    display: block!important;
}
.icon.icon-news{
    background: url('../images/icon-news.png') center no-repeat;
    background-size: 1.25rem auto;
}
.icon.icon-img{
    background: url('../images/icon-img.png') center no-repeat;
    background-size: 1.65rem auto;
}
.icon.icon-prod{
    background: url('../images/icon-prod.png') center no-repeat;
    background-size: 1.65rem auto;
}
.icon.icon-comment{
    background: url('../images/icon-comment.png') center no-repeat;
    background-size: 1.45rem auto;
}.icon.icon-member{
    background: url('../images/icon-member.png') center no-repeat;
    background-size: 1.45rem auto;
}
.icon.icon-admin{
    background: url('../images/icon-admin.png') center no-repeat;
    background-size: 1.45rem auto;
}
 /*右侧导航小图标*/
.icon.icon-home{
    background: url('../images/icon-home.png') center no-repeat;
    background-size: 1.5rem auto;
}
.icon.icon-navigator{
    background: url('../images/icon-right-arrow.png') center no-repeat;
    background-size: 1rem auto;
}
/*设置小图标 end*/
/*右侧内容*/

.wrapper nav.crumb-part{
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}
.wrapper nav ul{
    width: 100%;
    height: 100%;
}
/*.crumb-part a:hover{*/
    /*color: #148cf1;*/
/*}*/
.content-wrapper{
    padding: 0.714rem 0 0.714rem 2rem;
}
.opt-part{
    padding: 0.714rem ;
    background-color: #f5fafe;
    border: 1px solid #ddd;
    margin: 0.5rem 0;
}
.message-part h3{
    margin-right: 1rem;
}
table.system_info{
    margin-top: 1rem;
}
table.system_info  tr td{
    padding: 0 0.714rem;
    text-align: left;
}
.dislpayArrow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 14.215rem;
    width: 0px;
    height: 100%;
    z-index: 1001;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.dislpayArrow a {
    background: url('../images/icon_arrow.png')  0 0 no-repeat;
}
.dislpayArrow a {
    position: absolute;
    display: block;
    width: 17px;
    height: 61px;
    top: 50%;
    margin-top: -30px;
    outline: none;
    z-index: 1002;
}
.dislpayArrow a:hover {
    text-decoration: none;
    background-position: right 0;
}
.dislpayArrow a.open:hover {
    background-position: right -61px;
}
.dislpayArrow a:hover {
    text-decoration: none;
    background-position: right 0;
}
.dislpayArrow a.open {
    background-position: 0 -61px;
}
footer{
    margin-top: 2rem;
    color: #565656;
}
footer div{
    line-height: 3rem;
}
